.header-myLib {
  margin-bottom: 20px;
  background-image: url(/src/images/headerMyLib_background_mobile.jpg);
  background-position: center;
  background-color: grey;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/headerMyLib_background_mobile@x2.jpg);
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(/src/images/headerMyLib_background_mobile@x3.jpg);
  }

  @media screen and (max-width: 1279px) {
  }
  @media screen and (min-width: 768px) {
    background-image: url(/src/images/headerMyLib_background_tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/headerMyLib_background_tablet@x2.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(/src/images/headerMyLib_background_tablet@x3.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/headerMyLib_background.jpg);
    background-repeat: repeat;
    background-size: contain;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/headerMyLib_background@x2.jpg);
      background-repeat: repeat;
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(/src/images/headerMyLib_background@x3.jpg);
      background-repeat: repeat;
    }
  }
}

.headerMylib__container {
  padding-top: 40px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 61px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    padding-bottom: 58px;
  }
}

.library__btns {
  margin-top: 62px;
  margin-right: -20px;

  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-right: -32px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: -16px;
  }
}

.library__button {
  font-family: 'Roboto';
  font-style: normal;
  display: block;
  text-align: center;
  font-size: 12px;
  color: white;
  line-height: 1.33;
  font-weight: 500;

  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;

  width: 130px;
  height: 44px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;

  margin-right: 20px;

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}

.library__button-active {
  background-color: #ff6b01;
  border-color: #ff6b01;
}
