.header {
  max-height: 230px;
  margin-bottom: 20px;
  background-image: url(/src/images/header_background_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;

  @include retina {
    background-image: url(/src/images/header_background_mobile_x2.jpg);
  }

  @include retina3x {
    background-image: url(/src/images/header_background_mobile_x3.jpg);
  }

  @include tablet {
    background-image: url(/src/images/header_background_tablet.jpg);
    margin-bottom: 60px;

    @include retina {
      background-image: url(/src/images/header_background_tablet_x2.jpg);
    }

    @include retina3x {
      background-image: url(/src/images/header_background_tablet_x3.jpg);
    }
  }

  @include desktop {
    background-image: url(/src/images/header_background.jpg);
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 60px;

    @include retina {
      background-image: url(/src/images/header_background_x2.jpg);
    }

    @include retina3x {
      background-image: url(/src/images/header_background_x3.jpg);
    }
  }
}

.header__container {
  padding-top: 40px;
  padding-bottom: 92px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.navigation {
  margin-bottom: 44px;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 41px;
  }
}

.header__list-item {
  cursor: pointer;
  &:hover {
    color: rgb(43, 255, 0);
  }
}
.header__logo {
  display: flex;
  align-items: center;
  color: $color-white;
  gap: 10px;
}

.header__icon--first,
.header__icon--second {
  fill: $color-white;
}

.header__logo .header__icon--first,
.header__logo .header__icon--second {
  display: flex;
  height: 24px;
  animation-name: movieScrolling;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-iteration-count: infinite;
}

.header__logo-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 24px;
  width: 24px;
}

.header__logo-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -24px;
  left: 0px;
}

.header__logo-text {
  transition: color 300ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @include tablet-close {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @include tablet {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
  color: white;
}

.header__list-item {
  margin-right: 39px;

  &:last-child {
    margin-right: 0;
  }
}

.header__list-link {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;

  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 300ms $timing-function;

  &:hover,
  &:focus {
    color: #ff6b08;
  }

  &-active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 6px;
    transform: translate(-50%, 0%);
    background-color: $color-accent;
    width: 100%;
    height: 3px;
  }
}

.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-search {
  position: relative;
  width: 280px;
}

.header__form-input {
  font-size: 14px;
  max-width: 280px;
  width: 100%;
  height: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;
  margin-bottom: 60;

  &:hover,
  &:focus {
    border-color: $color-accent;
    transition: color 300ms $timing-function;
  }
}

.header__form-input::placeholder {
  color: $color-accent;
}

.header__search {
  position: absolute;
  display: flex;
  background: none;
  border: none;
  stroke: white;
  fill: none;
  top: -2;
  left: 101%;
  transform: translate(-100%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search:hover,
.header__search:focus {
  stroke: $color-accent;
  fill: $color-accent;
}

@keyframes movieScrolling {
  0% {
    transform: translateY(24px);
  }

  100% {
    transform: translateY(0px);
  }
}

.select__lang {
  background-color: transparent;
  color: $color-accent;
  border: none;
  outline: none;

  cursor: pointer;
}

.select__trend {
  // background-color: #272e34;
  background-color: transparent;
  color: $color-accent;
  border: none;
  outline: none;
  text-align: center;

  cursor: pointer;
}
