@import './common';
@import './utils/vars';
@import './components/theme';
@import './base/reset';
@import './base/general';
@import './utils/visually-hidden';
@import './utils/mixins';
@import './components/container';
@import './components/modals';
@import './base/main';
@import './base/header';
@import './base/headerMyLib';
@import './base/mainMyLib';
@import './base/footer';
@import './components/modal';
@import './components/movieDescription';
@import './components/pagination';
@import './components/modal-team';



@import './components/theme';
@import './components/scroll-top-btn';
@import './components/spinner';
@import './components/trailerModal';
@import './components/login';
