@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --color-accent: #d41443;
  --color-white: #ffffff;
  --color-main-bg: #ffb8ca;
  --color-second-bg: #ffa5ba;
  --color-footer-bg: #fff5f6;
  --color-card-coffee: #f0d1a5;
  --color-card-green: #c2e297;
  --color-main-text: #000000;
  --color-second-text: #907e82;
  --color-button-hover: #ecebeb;
  --icon-color: #fea5bb;
  --backdrop-color: rgba(75, 41, 49, 0.774);
}

.dark {
  color: #ffffff;
  background: #2f2f2f;
  fill: #ffffff;
  stroke: #ffffff;
}

.footer.dark {
  background: #191919;
}

.footer__container.dark {
  background: #191919;
}

.header__icon--sun,
.header__icon--moon {
  fill: #ffffff;
}
.header__icon--sun:hover, .header__icon--sun:focus,
.header__icon--moon:hover,
.header__icon--moon:focus {
  fill: #ff6b08;
  stroke: #ff6b08;
}

.header__theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme-text,
.header__theme-text.dark {
  color: #ffffff;
}

.header__theme-btn {
  cursor: pointer;
  text-align: center;
  background: none;
  display: flex;
  border: none;
}

.scroll-top__icon.dark {
  fill: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

body.no-scroll {
  overflow-y: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.container__rc {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container__rc {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container__rc {
    width: 768px;
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .container__rc {
    width: 1200px;
    padding-left: 116px;
    padding-right: 116px;
  }
}

.modal,
.modal-geo,
.modal-franchise,
.modal-about {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 90vh;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 9999;
  background-color: #bb9ca3;
  opacity: 0.9;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden,
.modal-geo.is-hidden,
.modal-franchise.is-hidden,
.modal-about.is-hidden {
  opacity: 0;
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  .modal,
.modal-geo,
.modal-franchise,
.modal-about {
    width: 400px;
  }
}

.modal-geo,
.modal-franchise,
.modal-about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal-about__frame {
  margin-top: 30px;
  border-radius: 8px;
}

.modal-about__text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #fff5f6;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.backdrop,
.backdrop-geo,
.backdrop-franchise,
.backdrop-about {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 41, 49, 0.774);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  z-index: 999;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden,
.backdrop-geo.is-hidden,
.backdrop-franchise.is-hidden,
.backdrop-about.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-button__close {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: linear-gradient(-45deg, #f857a6, #ff5858);
  fill: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.modal-button__close:hover, .modal-button__close:focus {
  box-shadow: 0 0 30px #ff6b08;
  box-shadow: 0 0 20px #ffb8ca;
  fill: #fea5bb;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-title {
  width: 210px;
  font-family: Titan One, cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ff6b08;
  text-shadow: 0 0 5px #ece2e4, 0 0 10px #ece2e4, 0 0 15px #ece2e4;
}
@media screen and (min-width: 1280px) {
  .modal-title {
    width: 400px;
  }
}

.form-input {
  border-radius: 8px;
  border: 1px solid #ff6b08;
  width: 100%;
  height: auto;
  padding-left: 26px;
  padding-right: 2px;
  color: #ff6b08;
  outline: none;
}

.form-input__text {
  color: #ffffff;
  margin-bottom: 3px;
}

.form-field__select {
  border-radius: 8px;
  outline: none;
  border: 1px solid #ff6b08;
  padding-left: 26px;
  padding-right: 2px;
  color: #ff6b08;
  width: 100%;
}

.submit-button {
  background: linear-gradient(-45deg, #f857a6, #ff5858);
  padding: 10px 20px;
  border: none;
  border-radius: 21px;
  outline: none;
  overflow: hidden;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transform: translateX(-50%);
}
.submit-button:hover:before {
  left: 110%;
  transition: 0.3s;
}
.submit-button:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 65px;
  position: absolute;
  top: 0;
  left: -100%;
  transform: skew(-45deg);
  transition: 0s;
}
@media screen and (min-width: 320px) {
  .submit-button:hover, .submit-button:focus {
    font-size: 18px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 768px) {
  .submit-button:hover, .submit-button:focus {
    font-size: 18px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .submit-button {
    margin-right: 18px;
    margin-left: auto;
  }
  .submit-button:hover, .submit-button:focus {
    font-size: 21px;
    line-height: 1.2;
    margin-left: auto;
  }
}

.submit-button.franchise {
  bottom: 2.5%;
}
@media screen and (min-width: 320px) {
  .submit-button.franchise {
    bottom: 2.5%;
  }
}

.form-input__icon {
  position: absolute;
  fill: #ff6b08;
  top: 52%;
  left: 3px;
  transform: translateY(-50%);
}

.form-input__wrappy {
  position: relative;
}

.form-input__quantity {
  border-radius: 8px;
  border: 1px solid #ff6b08;
  color: #ff6b08;
  outline: none;
  margin-bottom: 10px;
  padding-left: 3px;
}

.form-field__textarea {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ff6b08;
  color: #ff6b08;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}
.form-field__textarea::-moz-placeholder {
  color: #ff6b08;
}
.form-field__textarea:-ms-input-placeholder {
  color: #ff6b08;
}
.form-field__textarea::placeholder {
  color: #ff6b08;
}

.geo-frame {
  padding-top: 10%;
}

.franchise-modal__text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff5f6;
}

.hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .film__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film__list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.film__item {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  cursor: pointer;
}
.film__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .film__item {
    width: calc((100% - 32px) / 2);
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .film__item {
    width: calc((100% - 32px) / 3);
    margin: 0 auto;
  }
}
.film__img {
  max-width: 100%;
  margin: 0 auto 8px;
  border-radius: 5px;
}
.film__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
}
.film__genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #ff6b08;
}

.not-films {
  height: 500px;
  background-image: url(/src/images/film.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.js-empty-message {
  display: flex;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.header {
  max-height: 230px;
  margin-bottom: 20px;
  background-image: url(/src/images/header_background_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header_background_mobile_x2.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/header_background_mobile_x3.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/images/header_background_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header_background_tablet_x2.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/header_background_tablet_x3.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/header_background.jpg);
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header_background_x2.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/header_background_x3.jpg);
  }
}

.header__container {
  padding-top: 40px;
  padding-bottom: 92px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.navigation {
  margin-bottom: 44px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 41px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
}

.header__icon--first,
.header__icon--second {
  fill: #ffffff;
}

.header__logo .header__icon--first,
.header__logo .header__icon--second {
  display: flex;
  height: 24px;
  -webkit-animation-name: movieScrolling;
          animation-name: movieScrolling;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header__logo-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 24px;
  width: 24px;
}

.header__logo-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -24px;
  left: 0px;
}

.header__logo-text {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo-text:hover, .header__logo-text:focus {
  color: #ff6b08;
}
@media screen and (max-width: 767px) {
  .header__logo-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
  color: white;
}

.header__list-item {
  margin-right: 39px;
}
.header__list-item:last-child {
  margin-right: 0;
}

.header__list-link {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__list-link:hover, .header__list-link:focus {
  color: #ff6b08;
}
.header__list-link-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0%);
  background-color: red;
  width: 100%;
  height: 3px;
}

.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-search {
  position: relative;
  width: 280px;
}

.header__form-input {
  font-size: 14px;
  max-width: 280px;
  width: 100%;
  height: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;
  margin-bottom: 60;
}
.header__form-input:hover, .header__form-input:focus {
  border-bottom: 0.5px solid #ff6b08;
}

.header__search {
  position: absolute;
  display: flex;
  background: none;
  border: none;
  stroke: white;
  fill: none;
  top: 0;
  left: 101%;
  transform: translate(-100%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search:hover,
.header__search:focus {
  stroke: #ff6b08;
  fill: #ff6b08;
}

@-webkit-keyframes movieScrolling {
  0% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes movieScrolling {
  0% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header-myLib {
  max-height: 230px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_mobile@x2.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_mobile@x3.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-myLib {
    max-height: 219px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_tablet@x2.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background_tablet@x3.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-myLib {
    max-height: 219px;
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background@x2.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .header-myLib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/headerMyLib_background@x3.jpg);
  }
}

.headerMylib__container {
  padding-top: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .headerMylib__container {
    padding-top: 40px;
    padding-bottom: 58px;
  }
}

.library__btns {
  margin-right: -20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .library__btns {
    margin-top: 40px;
    margin-right: -32px;
  }
}
@media screen and (min-width: 1280px) {
  .library__btns {
    margin-right: -16px;
  }
}

.library__button {
  font-family: "Roboto";
  font-style: normal;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.33;
  font-weight: 500;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: none;
  margin-right: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .library__button {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .library__button {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}
.library__button:hover, .library__button:focus {
  background-color: #ff6b01;
  border-color: #ff6b01;
}

.main {
  min-height: calc(100vh - 350px);
}

.footer {
  background-color: #f7f7f7;
}
.footer__container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    font-size: 16px;
    line-height: 1.19;
    padding-top: 30px;
  }
}
.footer__text {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    margin-bottom: 0;
  }
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation: pulsation 4s linear 1s infinite;
          animation: pulsation 4s linear 1s infinite;
}

.footer__link {
  color: #545454;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link :focus {
  color: #ff6b08;
}

.footer__link.dark {
  color: #fff;
  background: #191919;
}

@-webkit-keyframes pulsation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.8);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.8);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.modal-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.modal-overlay.visiable {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 280px;
  height: 90vh;
  padding: 48px 20px 40px 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .modal-content {
    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-content {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.movie__description {
  position: relative;
}
@media screen and (min-width: 768px) {
  .movie__description {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .movie__poster-wrappaer {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .movie__poster-wrappaer {
    margin-right: 68px;
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .movie__poster-wrappaer {
    margin-right: 16px;
    width: 325px;
  }
}

.movie__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .movie__title {
    font-size: 30px;
  }
}

.description__container {
  display: flex;
  margin-bottom: 20px;
  height: 88px;
}

.description__title-wrapper {
  width: 70px;
  margin-right: 40px;
}

.description__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #8c8c8c;
}
.description__title:not(:last-child) {
  margin-bottom: 8px;
}

.description__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  display: flex;
  align-items: center;
}
.description__text:not(:last-child) {
  margin-bottom: 8px;
}

.vote {
  padding: 1px 10px;
}

.vote-accent {
  background-color: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin-right: 4px;
}

.about__title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .about__text {
    width: 391px;
  }
}

.btn__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .btn__container {
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .btn__container {
    width: 287px;
  }
}

.modal__btn {
  width: 110px;
  height: 44px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  transition: all 250ms linear;
}
.modal__btn:hover, .modal__btn:focus {
  background: #ff6b01;
  border: 1px solid #ff6b01;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal__btn {
    width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__btn {
    width: 136px;
  }
}

.modal__close {
  position: absolute;
  top: -40;
  right: -13;
  width: 30px;
  height: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  stroke-width: 3px;
  stroke: #000000;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  stroke: #ff6b08;
}
@media screen and (min-width: 768px) {
  .modal__close {
    top: -30;
    right: -28;
  }
}
@media screen and (min-width: 1024px) {
  .modal__close {
    top: -25;
    right: 0;
  }
}

.tui-pagination {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 12px;
}

.tui-page-btn {
  display: inline-block;
  margin-right: 16px;
  color: #ff6b08;
}

.tui-is-selected {
  background-color: #ff6b08;
  padding-top: 13px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
}

.tui-is-disabled {
  color: #ccc;
}

.modal-team-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-team-overlay.visiable {
  opacity: 1;
  visibility: visible;
}

.modal-team-content {
  display: block;
  overflow-y: scroll;
  background-color: #f7f7f7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 280px;
  height: 90vh;
  padding: 48px 20px 40px 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-team-content {
    overflow-y: hidden;
    width: 700px;
    height: 500px;
    padding: 40px 12px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-team-content {
    width: 1000px;
    height: 600px;
    padding: 40px 12px;
  }
}

.modal-team__close-btn {
  margin-left: auto;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  stroke-width: 10px;
  stroke: #000000;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-team__close-btn:hover, .modal-team__close-btn:focus {
  stroke: #ff6b08;
}

.modal-team-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-card {
  text-align: center;
  border-radius: 30px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.team-image {
  border-radius: 15%;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team-image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .team-image {
    width: 150px;
    height: 150px;
  }
}

.team-name {
  font-size: 12px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1280px) {
  .team-name {
    font-size: 18px;
  }
}

.team-role {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67;
  padding-bottom: 5px;
}
@media screen and (min-width: 1280px) {
  .team-role {
    font-size: 20px;
    line-height: 1.4;
  }
}

.team-git__icon {
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-git__icon:hover, .team-git__icon:focus {
  fill: #ff6b08;
  stroke: #ff6b08;
}

.modal-team-wrap.dark .team-git__icon {
  stroke: #ffffff;
  fill: #ffffff;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-team-wrap.dark .team-git__icon:hover,
.modal-team-wrap.dark .team-git__icon:focus {
  stroke: #ff6b08;
  fill: #ff6b08;
}

.dark {
  color: #ffffff;
  background: #2f2f2f;
  fill: #ffffff;
  stroke: #ffffff;
}

.footer.dark {
  background: #191919;
}

.footer__container.dark {
  background: #191919;
}

.header__icon--sun,
.header__icon--moon {
  fill: #ffffff;
}
.header__icon--sun:hover, .header__icon--sun:focus,
.header__icon--moon:hover,
.header__icon--moon:focus {
  fill: #ff6b08;
  stroke: #ff6b08;
}

.header__theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme-text,
.header__theme-text.dark {
  color: #ffffff;
}

.header__theme-btn {
  cursor: pointer;
  text-align: center;
  background: none;
  display: flex;
  border: none;
}

.scroll-top__icon.dark {
  fill: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.scroll-top-btn {
  cursor: pointer;
  text-align: center;
  background: none;
  display: flex;
  border: none;
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 9999;
}

.scroll-top__icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: #000000;
}
.scroll-top__icon:hover, .scroll-top__icon:focus {
  transition: 300ms;
  fill: #ff6b08;
  stroke: #ff6b08;
}

.is-show {
  opacity: 1;
  transition: 400ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.lightbox__button {
  position: absolute;
  top: -30px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.player-container {
  position: relative;
  overflow: hidden;
  width: 90vw;
  padding-top: 56.25%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */