// CSS Vars
:root {
  --color-accent: #d41443;
  --color-white: #ffffff;
  --color-main-bg: #ffb8ca;
  --color-second-bg: #ffa5ba;
  --color-footer-bg: #fff5f6;
  --color-card-coffee: #f0d1a5;
  --color-card-green: #c2e297;
  --color-main-text: #000000;
  --color-second-text: #907e82;
  --color-button-hover: #ecebeb;
  --icon-color: #fea5bb;
  --backdrop-color: rgba(75, 41, 49, 0.774);
}

//  SASS Vars
$color-accent: #ff6b08;
$color-footer: #f7f7f7;
$color-text: #545454;
$color-footer-dark: #191919;
$color-bgn-dark: #2f2f2f;

$color-white: #ffffff;
$color-main-bg: #ffb8ca;
$color-second-bg: #ffa5ba;
$color-footer-bg: #fff5f6;
$color-card-coffee: #f0d1a5;
$color-card-green: #c2e297;
$color-main-text: #000000;
$color-second-text: #907e82;
$color-button-hover: #ecebeb;
$icon-color: #fea5bb;
$backdrop-color: rgba(75, 41, 49, 0.774);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// transition: color 300ms $timing-function;
