<header class="header-myLib">
  <div class="container headerMylib__container">
    <nav class="navigation">
      <a href="/src/index.html" class="header__logo">
        <span class="header__logo-wrap">
          <span class="header__logo-icons">
            <svg class="header__icon--first" width="24">
              <use href="./images/symbol-defs.svg#header_logo_icon"></use>
            </svg>
            <svg class="header__icon--second" width="24">
              <use href="./images/symbol-defs.svg#header_logo_icon"></use>
            </svg>
          </span>
        </span>
        <span class="header__logo-text">Filmoteka </span>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a href="/src/index.html" class="header__list-link">Home</a>
        </li>
        <li class="header__list-item">
          <a
            href="/src/mylibrary.html"
            class="header__list-link header__list-link-active"
            >My Library</a
          >
        </li>
        <li>
          <ul>
            <li class="iconEnter" data-about-modal-open>
              <i class="fas fa-lock fa-fw fa-2x fa-beat-fade" style="color: #d41443;"></i>
            </li>
            <li class="iconExit">
              <i class="fas fa-lock-open fa-fw fa-2x fa-beat-fade" style="color: #d41443;"></i>
            </li>
          </ul>
        </li>

      </ul>

    </nav>
    <ul class="library__btns">
      <li>
        <button class="library__button js-watched" data-watch>WATCHED</button>
      </li>
      <li>
        <button class="library__button js-queue" data-queue>QUEUE</button>
      </li>
    </ul>
    <div class="header__theme">
      <span class="header__theme-text">Light</span>
      <button type="botton" class="header__theme-btn">
        <svg class="header__icon--moon visually-hidden" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-moon"></use>
        </svg>
        <svg class="header__icon--sun" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-sun"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
