<div class="registrationWrapper" data-about-modal>
  <form class="register-form">
    <p class="form-title">Register form</p>
    <label>
      <input type="text" class="email emailRegister input" required />
      <span class="pass-email-span">Email</span>
    </label>
    <label>
      <input type="password" class="first-name passRegister input" required />
      <span class="pass-email-span">Password</span>
    </label>

    <button type="button" class="register-btn" data-content-register>
      <div class="icon"><i class="fas fa-rocket"></i></div>
      <p class="register-text">Rigister</p>
    </button>
    <p class="changeForm__text animate__animated animate__pulse">
      Have an account? Try to <br />
      <span class="changeForm__span login">LOGIN</span>
    </p>
  </form>

  <form class="login-form">
    <p class="form-title">Login form</p>
    <label>
      <input type="text" name="email" class="email emailLogin input" required autocomplete="off" />
      <span class="pass-email-span">Email</span>
    </label>
    <label>
      <input
        type="password"
        name="password"
        class="first-name passLogin input"
        required autocomplete="off"
      />
      <span class="pass-email-span">Password</span>
    </label>

    <button type="button" class="login-btn" data-content-login>
      <div class="icon"><i class="fas fa-rocket"></i></div>
      <p class="register-text">Login</p>
    </button>
    <p class="changeForm__text animate__animated animate__pulse">
      Don't have an account? Try to
      <span class="changeForm__span register">REGISTER</span>
    </p>
  </form>
</div>
<div class="loginedWrapper">
  <div class="loginedModal">
    <div class="content">
      <i class="fas fa-video fa-fw fa-6x iconCamera"></i>
      <p class="content__text">Hello my dear visitor,</p>
      <p class="content__text">you are Online and all the films that you add to "watch later" will be stored in our DataBase</p>
      <button type="button" class="exitBtnFromOnline">Sign out</button>
    </div>
  </div>
</div>
