<div class="registrationWrapper" data-about-modal>
	<form class="register-form">
        <p class="form-title">Register form</p>
        <label>
			<input type="email" name="email" class="email" required />
			<span>Email</span>
		</label>
		<label>
			<input type="password" name="password" class="first-name" required />
			<span>Password</span>
		</label>

		<button type="button" class="submit-btn">
			<div class="icon"><i class="fas fa-rocket"></i></div>
			<p class="register-text">Rigister</p>
		</button>
        <p class="changeForm__text animate__animated animate__pulse">Have an account? Try to <br/> <span class="changeForm__span login">LOGIN</span></p>
	</form>

    <form class="login-form">
        <p class="form-title">Login form</p>
        <label>
			<input type="email" name="email" class="email" required />
			<span>Email</span>
		</label>
		<label>
			<input type="password" name="password" class="first-name" required />
			<span>Password</span>
		</label>

		<button type="button" class="submit-btn">
			<div class="icon"><i class="fas fa-rocket"></i></div>
			<p class="register-text">Login</p>
		</button>
        <p class="changeForm__text animate__animated animate__pulse">Don't have an account? Try to <span class="changeForm__span register">REGISTER</span></p>
	</form>
</div>
