<div class="container">
  <section class="main">
    <ul class="film__list gallery">
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
      <li class="film__item">
        <img src="./images/default.jpg" alt="default" class="film__img" />
        <p class="film__title">GREYHOUND</p>
        <p class="film__genre">Drama, Action | 2020</p>
      </li>
    </ul>
  </section>
</div>
