<div class="modal-overlay">
  <div class="modal-content">
    <div class="movie__description">
      <!-- <img src="" alt="" class="movie__poster" /> -->
      <div class="movie__container">
        <h3 class="movie__title">black</h3>
        <div class="description__container">
          <p class="description__title">Vote / Votes</p>
          <span class="description__text">qwe</span>
          <p class="description__title">Popularity</p>
          <span class="description__text"></span>
          <p class="description__title">Original Title</p>
          <span class="description__text"></span>
          <p class="description__title">Genre</p>
          <span class="description__text"></span>
        </div>
        <h4 class="about__title">About</h4>
        <p class="about__text"></p>
        <button type="button" class="modal__btn">add to watched</button>
        <button type="button" class="modal__btn">add to queue</button>
      </div>
    </div>
  </div>
</div>
