

.registrationWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease-in-out;
}
.registrationWrapper.visiable {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.changeForm {
    &__text {
        text-align: center;
        color: #00dfc4;
        font-size: 18px;
    }
    &__span {
        font-size: 28px;
    }

}
.form-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    color: #00dfc4;
    letter-spacing: 0.2em;
}
.register-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #212121;
    padding: 20px;
    border-radius: 20px;
    transition: 400ms ease-in-out;
}
.register-form.hidden {
    left: -100%;
    transition: 400ms ease-in-out;
}
.login-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    background: #212121;
    padding: 20px;
    border-radius: 20px;
    transition: 250ms ease-in-out;

}
.register-form.hidden + .login-form.visiable {
    left: 50%;
    transition: 250ms ease-in-out;
}

.changeForm__span {
    cursor: pointer;
    transition: 250ms ease-in-out;
    &:hover,
    &:focus {
        color: #0dc200;
        transition: 250ms ease-in-out;
    }
}

.first-name,
.last-name,
.email,
.message {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: inherit;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30px;
    color: #fff;
    font-size: 1em;
    transition: 250ms;
    resize: none;
}

.message {
    height: 200px;
}

label span {
    position: absolute;
    left: 20px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 250ms;
}

input:focus ~ span, textarea:focus ~ span,
input:valid ~ span, textarea:valid ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #2a2a2a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

input:focus, textarea:focus,
input:valid, textarea:valid {
    border: 1px solid #00dfc4;
}

.submit-btn {
   padding: 10px 50px;
   border: none;
   outline: none;
   background: rgba(255, 255, 255, 0.25);
   margin: 0 auto 40px;
   color: #fff;
   display: flex;
   cursor: pointer;
   border-radius: 4px;
   transition: 300ms ease;
   position: relative;
   overflow: hidden;
}

.submit-btn:hover {
    background: rgba(96, 96, 96, 0.25);
}
.register-text {
    font-size: 16px;
}
.icon {
    margin-right: 15px;
    position: relative;
    font-size: 16px;
}

.submit-btn.active .icon {
    animation: animateRocket 2s ease-in-out forwards;
}

.submit-btn::before {
    content: 'Registered';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00dfc4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s ease-in-out;
    transition-delay: 1s;
}
.submit-btn.active::before {
    width: 100%;
}
@keyframes animateRocket {
    0%, 5% {
        transform: rotate(0);
        left: 0;
    }
    25% {
        transform: rotate(45deg);
        left: 0;
    }
    50% {
        transform: rotate(45deg);
        left: -50px;
    }
    100% {
        transform: rotate(45deg);
        left: calc(100% + 50px);
    }
}