.modal-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.modal-overlay.visiable {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin: 0 auto;
  width: 280px;
  max-height: 90vh;

  padding: 48px 20px 40px 20px;
  
  background-color: #f4f4f4;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transform: translate(-50%, -50%);

  @include tablet-close {
    overflow-y: scroll;
    
  }

  @include tablet {
    width: 704px;
    height: 552px;

    padding: 40px 72px 40px 36px;
  }

  @include desktop {
    width: 806px;
    height: 558px;

    padding: 40px 12px;
  }

}

