.modal-team-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms $timing-function;

  &.visiable {
    opacity: 1;
    visibility: visible;
  }
}

.modal-team-content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  margin: 0 auto;
  width: 280px;
  height: 90vh;
  padding: 40px;

  background-color: $color-footer;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

  transform: translate(-50%, -50%);
  transition: transform 250ms $timing-function;
  @include tablet {
    overflow-y: hidden;
    width: 670px;
    height: 450px;
  }
  @include desktop {
    width: 920px;
    height: 570px;
  }
}
.modal-team__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  stroke-width: 3px;
  stroke: $color-main-text;
  transition: stroke 300ms $timing-function;
  &:hover,
  &:focus {
    stroke: $color-accent;
  }

  // @include tablet {
  //   top: -30;
  //   right: -28;
  // }

  // @include tablet-plus {
  //   top: -25;
  //   right: 0;
  // }
}

.modal-team-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.team-card {
  text-align: center;
  border-radius: 30px;
  transition: box-shadow 300ms $timing-function;
  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  }
}
.team-image {
  border-radius: 15%;
  padding-bottom: 10px;
  @include tablet {
    width: 100px;
    height: 100px;
  }
  @include desktop {
    width: 150px;
    height: 150px;
  }
}
.team-name {
  font-size: 12px;

  padding-bottom: 5px;
  @include desktop {
    font-size: 18px;
  }
}
.team-role {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.67;
  padding-bottom: 5px;
  @include desktop {
    font-size: 20px;
    line-height: 1.4;
  }
}
.team-git__icon {
  transition: fill 300ms $timing-function, stroke 300ms $timing-function;
  &:hover,
  &:focus {
    fill: $color-accent;
    stroke: $color-accent;
  }
}
.modal-team-wrap.dark .team-git__icon {
  stroke: $color-white;
  fill: $color-white;
  transition: fill 300ms $timing-function, stroke 300ms $timing-function;
}
.modal-team-wrap.dark .team-git__icon:hover,
.modal-team-wrap.dark .team-git__icon:focus {
  stroke: $color-accent;
  fill: $color-accent;
}
