.movie__description {
  @include tablet {
    display: flex;
  }
}

.movie__poster {
  box-shadow: 3px 8px 9px 3px rgba(0, 0, 0, 0.32);
}

.movie__poster-wrappaer {
  @include tablet-close {
    margin-bottom: 20px;
  }

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.movie__poster {
  width: 240px;
  height: 357px;

  @include tablet {
    width: 264px;
    height: 373.55px;
  }
  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.movie__container {
  @include tablet {
    margin-left: 68px;
  }

  @include desktop {
    margin-left: 16px;
  }
}

.movie__title {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  @include desktop {
    font-size: 30px;
  }
}

.description__container {
  display: flex;
  margin-bottom: 20px;
}

.description__text-wrapper {
  margin-left: 41px;
}

.description__title {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  width: 69px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: #8c8c8c;
}

.description__text {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}
.description__popularity {
  height: 14px;
}

.vote {
  padding: 1px 10px;
  height: 16px;
}

.vote-accent {
  background-color: #ff6b01;
  border-radius: 5px;
  color: $color-white;
  display: inline-block;
  margin-right: 4px;
}

.about__title {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  text-transform: uppercase;
}

.about__text {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  @include tablet-close {
    overflow-y: scroll;
    height: 100px;
  }

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 391px;
  }
}
.btn__container {
  display: flex;
}

.modal__btn {
  width: 110px;
  height: 44px;
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 5px;
  border: 1px solid $color-main-text;
  box-shadow: 3px 8px 9px 3px rgba(0, 0, 0, 0.32);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;

  color: $color-main-text;

  transition: all 250ms linear;

  &:last-child {
    margin-left: 20px;
  }

  &:hover,
  &:focus {
    background: #ff6b01;
    border: 1px solid #ff6b01;
    color: $color-white;
  }

  @include tablet {
    width: 125px;

    &:last-child {
      margin-left: 15px;
    }
  }

  @include desktop {
    width: 136px;
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;

  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  stroke-width: 3px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: $color-main-text;
  transition: stroke 300ms $timing-function;

  &:hover,
  &:focus {
    stroke: $color-accent;
  }
}
.modal-content.dark .modal__close {
  stroke: $color-white;
  transition: fill 300ms $timing-function, stroke 300ms $timing-function;
}
.modal-content.dark .modal__close:hover,
.modal-content.dark .modal__close:focus {
  stroke: $color-accent;
}

.youtube {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 43px;
  height: 30px;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 0;
  transition: all 0.25s linear;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 250ms linear;
  @include tablet {
    top: 50px;
    left: 45px;
  }
  @include desktop {
    top: 50px;
    left: 25px;
  }
}

.icon-youtube {
  fill: transparent;
  stroke: transparent;
}

.icon-youtube__enable {
  fill: #ff0000;
  stroke: #ff0000;
  // transition: all 250ms linear;
}

.icon-youtube__enable:hover,
.icon-youtube__enable:focus {
  fill: #b80000;
  stroke: #b80000;
}

.icon-youtube__disabled {
  fill: #808080;
  stroke: #000000;
}

.message-wrap {
  margin-left: auto;
  margin-right: auto;
}
