.dark {
  & .movie__container-withCast {
    background-color: #2f2f2f;
  }
}

.movie__container-withCast {
  width: 280px;
  width: 70vw;
  height: 80vh;

  background-color: #f4f4f4;

  padding: 10px;
  overflow-y: auto;

  @media screen and (min-width: 375px) {
    width: 90vw;
  }

  @include tablet-plus {
    width: 80vw;
  }

  @include desktop {
    width: 1000px;
    height: 600px;
  }
}

.movie__list-withCast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
  grid-gap: 16px;
  list-style: none;

  @media screen and (min-width: 375px) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  @include tablet-plus {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.movie__item-withCast {
  text-align: center;
  cursor: pointer;

  transform: scale(1);
  transition: all 250ms linear;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  &:hover {
    transform: scale(1.03);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.movie__poster-withCast {
  width: 100%;
  margin-bottom: 8px;
}

.movie__wrapper-withCast {
  padding: 0px 6px 8px;
}

.movie__title-withCast,
.movie__vote-withCast,
.movie__genres-withCast {
  font-size: 12px;

  @include tablet {
    font-size: 14px;
  }

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  & span {
    font-weight: 500;
  }
}

// .btn-cast {
//   position: absolute;
//   top: 10;
//   right: 10;

//   &[disabled] {
//     fill: #808080;
//     stroke: #000000;
//   }
// }
