.tui-page-btn {
  display: inline-block;
  margin-right: 16px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  margin-top: 60px;
}

.tui-is-selected {
  background-color: #ff6b08;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}
