.tui-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  margin-top: 60px;
}
html.dark .tui-page-btn {
  color: #fff;
}

.tui-is-selected {
  background-color: #ff6b08;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}
.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
