.dark {
  & .rewiew__container {
    background-color: #2f2f2f;
  }
}

.rewiew__container {
  width: 280px;
  width: 70vw;
  height: 80vh;

  background-color: #f4f4f4;

  padding: 10px;
  overflow-y: auto;

  @media screen and (min-width: 375px) {
    width: 90vw;
  }

  @include tablet-plus {
    width: 80vw;
  }

  @include desktop {
    width: 1000px;
    height: 600px;
  }
}

.rewiew__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rewiew__item {
  padding: 8px;
  cursor: pointer;

  transform: scale(1);
  transition: all 250ms linear;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  &:hover {
    transform: scale(1.01);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.rewiew__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.rewiew__updated {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}

.rewiew__post {
  padding: 0 8px;
}

.btn-rewiews {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ff0000;
  stroke: #ff0000;

  position: absolute;
  top: 10;
  left: 50%;

  border: none;

  transform: translateX(-50%);

  background: transparent;

  // color: #ff6b01;

  transition: all 250ms linear;

  &:not(:disabled) {
    &:hover,
    &:focus {
      fill: #b80000;
      stroke: #b80000;
    }
  }

  &[disabled] {
    fill: #808080;
    stroke: #000000;
  }
}

.icon-review {
  display: flex;
  align-items: center;
  justify-content: center;
}
