@import '../utils/mixins';

.dark {
  color: $color-white;
  background: $color-bgn-dark;
  fill: $color-white;
  stroke: $color-white;
}

.img-dark {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url('/src/images/theme/home-them-dark-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include retina {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url('/src/images/theme/home-theme-dark-mob@2x.jpg');
  }

  @include tablet {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url('/src/images/theme/home-them-dark-tab.jpg');
  }

  @include retina {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url('/src/images/theme/home-theme-dark-tab@2x.jpg');
  }

  @include desktop {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url('/src/images/theme/home-them-dark.jpg');
  }

  @include retina {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url('/src/images/theme/home-theme-dark@2x.jpg');
  }
}
.modal-content.dark {
  background: $color-bgn-dark;
}

.footer.dark {
  background: $color-footer-dark;
}

.footer__container.dark {
  background: $color-footer-dark;
}
.header__theme {
  color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $color-white;
  stroke: $color-white;
  transition: fill 300ms $timing-function, color 300ms $timing-function,
    stroke 300ms $timing-function;
  &:hover,
  &:focus {
    color: $color-accent;
    fill: $color-accent;
    stroke: $color-accent;
  }
}

.header__theme-btn {
  text-align: center;
  background: none;
  display: flex;
  border: none;
}
.scroll-top__icon.dark {
  fill: $color-white;
  background: transparent;
}
